In [4]:
import numpy as np
import pandas as pd

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('houses.csv')
df.sample(5)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
915,5 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,9.5 Crore,"₹ 42,222/sq.ft.",(253 sq.m.) Plot Area,Plot area 302(252.51 sq.m.)Built Up area: 300 ...,5 Bedrooms,5 Bathrooms,3+ Balconies,"Servant Room,Pooja Room","Sushant Lok 1, Sushant Lok Phase 1, Gurgaon, H...",2 Floors,North-East,1 to 5 Year Old,"['Huda city centre metro station', 'New Life C...","Sushant lok 1 very prime location , this kothi...","['1 Water Purifier', '6 Fan', '1 Exhaust Fan',...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety4.5 out of 5'...",B70289660
351,4 Bedroom House for sale in Krishna Colony,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,1.75 Crore,"₹ 11,111/sq.ft.",(146 sq.m.) Plot Area,Plot area 1575(146.32 sq.m.),4 Bedrooms,2 Bathrooms,2 Balconies,Others,"Krishna Colony, Gurgaon, Haryana",2 Floors,NaN,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...","Nothing unique, just a normal house for a fami...","['1 Wardrobe', '1 Light', 'No AC', 'No Bed', '...","['Private Garden / Terrace', 'Water Storage', ...","['Environment4 out of 5', 'Lifestyle4 out of 5...",O69082386
768,5 Bedroom House for sale in Sector 66 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Emaar MGF Marbella,NaN,NaN,(418 sq.m.) Plot Area,Plot area 500(418.06 sq.m.),5 Bedrooms,7 Bathrooms,3+ Balconies,"Pooja Room,Store Room,Study Room,Servant Room","Md-45, Sector 66 Gurgaon, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Property is located in very posh area, park fa...","['16 Fan', '1 Exhaust Fan', '8 Geyser', '1 Sto...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment3 out of 5', 'Lifestyle4 out of 5...",B69683640
71,4 Bedroom House for sale in Sector 112 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,Experion Windchants3.8 ★,NaN,"₹ 12,027/sq.ft.",(590-687 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 112 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Experion windchants in sector 112, gurgaon by ...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5...",D69895840
177,4 Bedroom House for sale in Sector 56 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,4 Crore,"₹ 26,613/sq.ft.",(140 sq.m.) Plot Area,Plot area 167(139.63 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,NaN,"Sector 56 Gurgaon, Gurgaon, Haryana",2 Floors,NaN,1 to 5 Year Old,"['Sector metro station', 'Sector metro station...","Two storey property adjacent to park , close p...","['3 Wardrobe', '8 Fan', '1 Exhaust Fan', '2 Ge...","['Private Garden / Terrace', 'Water Storage', ...","['Environment4 out of 5', 'Lifestyle5 out of 5...",T60111342

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1044 non-null   object
 1   link             1044 non-null   object
 2   society          453 non-null    object
 3   price            968 non-null    object
 4   rate             1005 non-null   object
 5   area             1044 non-null   object
 6   areaWithType     987 non-null    object
 7   bedRoom          987 non-null    object
 8   bathroom         987 non-null    object
 9   balcony          987 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1031 non-null   object
 12  noOfFloor        967 non-null    object
 13  facing           674 non-null    object
 14  agePossession    987 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1036 non-null   object
 17  furnishDetails   743 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1036 non-null   object
dtypes: object(21)
memory usage: 171.4+ KB

In [9]:
df.duplicated().sum()

13

In [10]:
df = df.drop_duplicates()

In [11]:
df.shape

(1031, 21)

In [12]:
df.isnull().sum()

property_name        0
link                 0
society            586
price               76
rate                39
area                 0
areaWithType        57
bedRoom             57
bathroom            57
balcony             57
additionalRoom     453
address             13
noOfFloor           76
facing             369
agePossession       57
nearbyLocations    131
description          8
furnishDetails     299
features           369
rating             137
property_id          8
dtype: int64

In [ ]:
df.drop(columns=['link','property_id'], inplace=True)